* {
  color: #484848;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-title {
  font-size: 26px;
  padding: 40px 20px 20px 20px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
}

.items-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px 30px 20px;
  box-sizing: border-box;
}

.items-categories > .active {
  background: rgb(84, 203, 147);
  color: white;
  font-weight: 600;
}

.items-categories > div {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  margin: 6px;
}

.items-categories > div:hover {
  background: rgb(84, 203, 147);
  color: white;
}

.sort-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sort-elements > div {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-elements > div > label {
  margin-left: 6px;
}

/* LIST */
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  box-shadow: 0px 0px 45px -25px rgba(0, 0, 0, 0.31);
  background: white;
  padding: 20px 20px 40px 20px;
  box-sizing: border-box;
  margin: 20px;
  position: relative;
  border-radius: 10px;
  transition: 0.5s;
}

.item:hover {
  transform: scale(1.1);
}

.item > div {
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  object-fit: contain;
}

.button {
  border-radius: 100%;
  min-width: 35px;
  min-height: 35px;
  color: #33ffad;
  background-color: white;
  border: 1px solid rgb(84, 203, 147);
  color: rgb(84, 203, 147);
  transition: 0.5s;
  position: absolute;
  left: 25%;
  right: auto;
  transform: translateX(-25%);
  bottom: -17px;
  cursor: pointer;
  box-sizing: border-box;
}

.button-edit {
  left: auto;
  right: 5%;
  transform: translateX(-75%);
}

.button:hover {
  color: white;
  background-color: rgb(84, 203, 147);
}

.button:hover i {
  color: white;
}

.button i {
  color: rgb(84, 203, 147);
  transition: 0.5s;
  font-size: 13px;
}

/* CART */
.cart-title {
  font-size: 26px;
  padding: 80px 20px 20px 20px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
}

.items-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0 80px 0;
}

.item-cart {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  box-sizing: border-box;
  position: relative;
}

.cart-button {
  position: relative;
  left: auto;
  right: auto;
  transform: none;
  bottom: auto;
  margin: auto 0;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 13px;
  font-weight: 600;
}

.cart-button i {
  margin-left: 6px;
}

.item-cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  box-sizing: border-box;
}

.item-cart-content > div {
  padding: 8px;
  box-sizing: border-box;
}

.item-cart-content > input {
  font-size: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.totalPrice {
  font-weight: 600;
  font-size: 28px;
  box-sizing: border-box;
}

.purchase-button {
  background: white;
  border: 1px solid rgb(84, 203, 147);
  color: rgb(84, 203, 147);
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 13px;
  transition: 0.5s;
  cursor: pointer;
  box-sizing: border-box;
  max-width: max-content;
  margin: 20px;
}

.purchase-button:hover {
  background: rgb(84, 203, 147);
  color: white;
}
